<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.label "Achieveに関して" %>
    <%= form.radio_button :category, 1 %>
    <%= form.label "テキストに関して" %>
    <%= form.radio_button :category, 2 %>
    <%= form.label "説明会に関して" %>
    <%= form.radio_button :category, 3 %>
    <%= form.label "その他" %>
    <%= form.radio_button :category, 4 %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "内容確認" %>
  </div>
<% end %>
