<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error")%> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container my-5">
    <form method="post" action="">
      <div class="form-group form-item">
        <%= form.label :名前 %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group form-item">
        <%= form.label :メールアドレス %>
        <%= form.text_field :email, class: "form-control" %>
      </div>
      <div class="field form-group form-item">
        <%= form.label :カテゴリー %>
        <ul class="list-unstyled">
          <li>
            <%= form.radio_button :category, 1 %>
            <%= form.label "Achieveに関して" %>
          </li>
          <li>
            <%= form.radio_button :category, 2 %>
            <%= form.label "テキストに関して" %>
          </li>
          <li>
            <%= form.radio_button :category, 3 %>
            <%= form.label "説明会に関して" %>
          </li>
          <li>
            <%= form.radio_button :category, 4 %>
            <%= form.label "その他" %>
          </li>
        </ul>
      </div>
      <div class="form-group form-item">
        <%= form.label :content %>
        <%= form.text_area :content, class: "form-control" %>
      </div>
      <div class="actions form-group form-item">
        <%= form.submit "内容確認" %>
      </div>
    </form>
  </div>
<% end %>
