<div class="container my-container">
  <h1>内容確認</h1>
  <p>
    <strong>名前:</strong>
    <br>
    <%= @contact.name %>
  </p>

  <p>
    <strong>メールアドレス:</strong>
    <br>
    <%= @contact.email %>
  </p>

  <p>
    <strong>カテゴリー:</strong>
    <br>
    <%= ret_category(@contact.category) %>
  </p>

  <p>
    <strong>内容:</strong>
    <br>
    <%= @contact.content %>
  </p>

  <%= link_to '戻る', new_contact_path(id: @contact.id), class: 'btn btn-secondary' %>
  <%= link_to '送信', contacts_send_mail_path(id: @contact.id), class: 'btn btn-success' %>
  </div>
