<!DOCTYPE html>
<html>
  <head>
    <title>Achieve</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# <% if user_signed_in? %> %>
    <div class="container my-container">
      <%= render 'layouts/header' %>
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>
      <%= render 'layouts/footer' %>
    <%# <% else %>
      <%# <h2> 現在ログインしていません </h2>
      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      <%# <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
    <%# end %>
  </body>
</html>
